[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"
coverage = "*"
sphinx = "*"
sphinx-autobuild = "*"


[packages]

flask = "*"
gunicorn = "*"
